@import url("https://fonts.googleapis.com/css?family=Alegreya:400,700|Playfair+Display&subset=cyrillic");
body {
  font-size: 16px; }

ul {
  margin: 0;
  padding: 0; }

h2 {
  font-family: "Alegreya", serif;
  font-size: 3em;
  font-weight: 700;
  color: #56534c;
  margin: 0; }

h3 {
  font-family: "Alegreya", serif;
  font-size: 1.5em;
  font-weight: inherit;
  color: #56534c;
  margin: 0; }

h5 {
  font-family: "Alegreya", serif;
  font-size: 0.875em;
  font-weight: 700;
  color: #a47d5e;
  margin: 0;
  text-transform: uppercase; }

p {
  font-family: "proximanovaregular", serif;
  font-size: 0.875em;
  font-weight: inherit;
  color: #56534c;
  line-height: 1.7;
  margin: 0; }

a:hover {
  text-decoration: none; }

.main_column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }

.bakery {
  background: url(../img/header_bg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.bakery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .bakery .head {
    position: relative;
    z-index: 1000;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  .bakery .main_column {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .bakery .social {
    font-size: 0.875em; }
    .bakery .social a {
      display: inline-block;
      position: relative;
      margin-left: 2em;
      color: #ffffff;
      -webkit-transition: color .6s;
      -o-transition: color .6s;
      transition: color .6s; }
      .bakery .social a:hover {
        color: #a47d5e;
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);
        -webkit-transition: -webkit-transform .5s ease-out;
        transition: -webkit-transform .5s ease-out;
        -o-transition: transform .5s ease-out;
        transition: transform .5s ease-out;
        transition: transform .5s ease-out, -webkit-transform .5s ease-out; }
    .bakery .social a:nth-child(1) {
      margin-left: 0; }

.logo a:hover {
  text-decoration: none; }

.logo h5 {
  font-family: "scriptina", sans-serif;
  font-size: 1.875em;
  font-weight: inherit;
  color: #ffffff;
  letter-spacing: 5px;
  margin: 0;
  text-transform: none; }

.topmenu {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .topmenu li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .topmenu li:after {
      content: '~';
      color: #ffffff;
      margin: auto; }
    .topmenu li a {
      font-family: "Alegreya", serif;
      font-size: 0.875em;
      font-weight: 400;
      color: #ffffff;
      text-transform: uppercase;
      padding: 2.14285714em 2.85714286em;
      -webkit-transition: color .6s;
      -o-transition: color .6s;
      transition: color .6s; }
      .topmenu li a:hover {
        text-decoration: none;
        color: #a47d5e; }
  .topmenu li:nth-child(5):after {
    content: ''; }

/*mobile menu style*/
.bakery {
  /* Menu Appearance */ }
  .bakery .pushy {
    position: fixed;
    right: 0;
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #191918;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /*menu movement*/
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
    /*menu movement*/
    /* enables momentum scrolling in iOS overflow elements */ }
  .bakery .right_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .bakery .right_menu li:after {
      content: ''; }
    .bakery .right_menu li a {
      padding: 1em; }

.menu-btn {
  display: none;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  margin-right: 1em; }

.pushy-open-right .logo,
.pushy-open-right .social,
.pushy-open-right .tittle,
.pushy-open-right .border_bottom,
.pushy-open-right .menu-btn,
.pushy-open-right article,
.pushy-open-right section,
.pushy-open-right footer {
  -webkit-transform: translate3d(-200px, 0, 0);
          transform: translate3d(-200px, 0, 0); }

.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

/* Menu Transitions */
.bakery,
article,
section,
footer,
.pushy,
.push {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99), -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.pushy-content {
  -webkit-transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy {
  z-index: 10000; }

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*mobile menu style*/
.tittle {
  position: relative;
  width: 100%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }
  .tittle .main_column {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .tittle .pastry {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .tittle .pastry h1 {
      font-family: "Playfair Display", serif;
      font-size: 5.75em;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 0;
      margin-top: 13rem;
      text-align: center; }
    .tittle .pastry .wave {
      margin: 3.125em 0; }
    .tittle .pastry h6 {
      font-family: "proximanovaregular", serif;
      font-size: 1.5em;
      font-weight: inherit;
      color: #ffffff;
      text-align: center;
      width: 65%;
      margin: 0;
      text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.7);
      line-height: 1.5; }
    .tittle .pastry .button {
      width: 200px;
      height: 50px;
      background-color: rgba(86, 83, 76, 0.53);
      border: none;
      margin-top: 5em;
      margin-bottom: 9em;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      font-family: "Alegreya", serif;
      font-size: 0.875em;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 0.25em;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .tittle .pastry .button:hover {
        background-color: rgba(164, 125, 94, 0.8); }

.border_bottom {
  position: relative;
  bottom: -55px;
  width: 106px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  z-index: 200; }
  .border_bottom img {
    width: 100%; }

/*======article Art of cakes======*/
#art_cakes {
  padding: 6.25em 0 6.25em;
  position: relative;
  z-index: 200; }

.create_cakes {
  position: relative;
  padding: 0; }
  .create_cakes aside {
    position: relative; }
    .create_cakes aside h3 {
      font-weight: 700;
      margin-bottom: 1.5em; }
    .create_cakes aside .recipe {
      margin: 3em 0 2em; }
    .create_cakes aside .chef {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 2em 0 1em; }
      .create_cakes aside .chef img {
        -webkit-border-radius: 50px;
                border-radius: 50px; }
      .create_cakes aside .chef h3 {
        font-weight: 400;
        margin-bottom: 0; }
        .create_cakes aside .chef h3:before {
          content: '';
          position: absolute;
          top: 30%;
          width: 90px;
          height: 1px;
          background-color: #a47d5e; }
        .create_cakes aside .chef h3:after {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          content: '';
          position: absolute;
          bottom: 30%;
          width: 90px;
          height: 1px;
          background-color: #a47d5e; }
    .create_cakes aside blockquote {
      position: relative;
      margin: 0;
      padding: 1em;
      border: none; }
      .create_cakes aside blockquote p {
        font-family: "scriptina", sans-serif;
        font-size: 1.5em;
        font-weight: inherit;
        color: #a47d5e; }
        .create_cakes aside blockquote p:before {
          content: "\"";
          font-family: "scriptina", sans-serif;
          font-size: 2em;
          font-weight: inherit;
          color: #a47d5e;
          font-style: italic;
          position: absolute;
          top: -20px;
          left: 40px; }
        .create_cakes aside blockquote p:after {
          content: "\"";
          font-family: "scriptina", sans-serif;
          font-size: 2em;
          font-weight: inherit;
          color: #a47d5e;
          position: absolute;
          bottom: -50px;
          right: 40px; }

.tastes_img .four {
  width: 48%;
  display: inline-block;
  padding: 0.6em;
  outline-offset: -25px;
  outline-width: 4px;
  outline-style: solid;
  outline-color: white; }

.tastes_img figure {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .tastes_img figure img {
    width: 40%;
    opacity: 0.97; }
  .tastes_img figure:hover img {
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: 2600ms;
            animation-duration: 2600ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }
  .tastes_img figure figcaption {
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0;
    font-family: "Alegreya", serif;
    font-size: 1.875em;
    font-weight: 400;
    color: #c9b176;
    text-transform: uppercase; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); } }

/*======article Art of cakes======*/
/*======article tasty pancakes======*/
#perfect_pancakes {
  background: url(../img/bg_perfect_pancakes.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 8.75em 0;
  background-attachment: fixed;
  z-index: 200; }

.generic {
  position: relative; }

.pancake {
  padding: 0;
  -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #ffffff; }
  .pancake:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    border-bottom: 51px solid white;
    border-right: 51px solid transparent; }
  .pancake .angle {
    position: absolute;
    bottom: -13px;
    left: -6px; }
  .pancake .img-responsive {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.main_tasty {
  background-color: white;
  position: relative;
  padding: 0;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); }

.tasty {
  padding: 5em 3.75em 1.875em;
  background: url(../img/bg_tastes_pancakes.png) bottom right no-repeat; }
  .tasty h5 {
    margin: 1em 0 5em; }
  .tasty #tasty_ready {
    position: absolute !important;
    top: -50px;
    right: -50px;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4); }
    .tasty #tasty_ready h5 {
      margin: 0; }

.carousel {
  position: relative;
  width: 450px;
  padding: 1em 2em;
  margin-top: 2.6em; }
  .carousel img {
    width: 90px;
    display: block;
    margin: 0 10px; }

.arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40px;
  padding: 0em 0.5em;
  background: transparent;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 2px solid #64615b;
  font-size: 1.9em;
  color: #64615b;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .arrow:hover {
    border: 2px solid #d8bba3;
    color: #d8bba3;
    cursor: pointer; }
  .arrow:focus {
    outline: none; }

.prev {
  left: 0.2em; }

.next {
  right: 0.2em; }

.gallery {
  width: 330px;
  overflow: hidden;
  margin: 0 auto; }
  .gallery ul {
    height: 90px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: margin-left 250ms;
    -o-transition: margin-left 250ms;
    transition: margin-left 250ms;
    /* remove white-space between inline-block'ed li */
    font-size: 0; }
  .gallery li {
    display: inline-block; }

/*======article tasty pancakes======*/
/*section breakfast*/
#breakfast {
  background: url(../img/breakfast_bg.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 5.625em 0;
  z-index: 200; }

.prices #second_tittle {
  font-size: 3.75em;
  color: #ffffff; }

.prices h3 {
  font-size: 1.875em;
  color: #ffffff;
  font-weight: bold;
  margin: 2em 0 0.12em; }

.prices p {
  font-size: 1em;
  color: #c2beba;
  margin-bottom: 1.875em;
  line-height: 1.2; }

.prices h2 {
  font-size: 2.25em;
  color: #d8bba3;
  font-weight: 400; }

.menu {
  padding: 0; }

.morning {
  position: relative;
  z-index: 100;
  background-image: url(../img/clever.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 95%;
  padding: 1.5em;
  background-color: #f3f1e9;
  outline-offset: -10px;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #a47d5e; }
  .morning .description_menu {
    width: 80%;
    margin: 4.375em auto 3.75em; }
    .morning .description_menu h2 {
      font-size: 2.75em;
      margin-bottom: 1em; }
    .morning .description_menu p {
      width: 80%;
      margin: 0 auto; }
    .morning .description_menu .read {
      margin-top: 3em;
      background: transparent;
      border: 1px solid #a47d5e;
      padding: 1em 4em;
      font-family: "Alegreya", serif;
      font-size: 1.125em;
      font-weight: 700;
      color: #a47d5e;
      text-transform: uppercase;
      -webkit-transition: 0.7s ease-out 0.5s;
      -o-transition: 0.7s ease-out 0.5s;
      transition: 0.7s ease-out 0.5s; }
      .morning .description_menu .read:hover {
        color: #ffffff;
        background: #a47d5e; }

.head_menu h5 {
  display: inline-block;
  margin-top: 4em;
  margin-bottom: 1em; }

.head_menu .left {
  margin-left: 6.4em; }

.head_menu .right {
  margin-right: 6.4em; }

.head_menu img {
  display: block;
  width: 80%;
  margin: 0 auto; }

.morning_abs {
  position: absolute;
  width: 80%;
  top: 10px;
  bottom: 10px;
  right: 15px;
  z-index: 10;
  opacity: 0.85; }

.abs2 {
  right: 1px;
  top: 20px;
  bottom: 20px;
  z-index: 1;
  opacity: 0.80; }

/*section breakfast*/
/*product*/
#product {
  background-color: #f3f1e9;
  padding-top: 0.625em;
  z-index: 200; }

.jibarito {
  background: url(../img/mill.png) top center no-repeat;
  padding-top: 5.625em; }
  .jibarito h5 {
    margin-top: 1rem; }

.single {
  width: 70%;
  margin: 0 auto 3.125em; }
  .single h3 {
    font-family: "Alegreya", serif;
    font-size: 1.875em;
    font-weight: 700;
    color: #a47d5e;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 1.375rem;
    margin-bottom: 1.375rem; }

.round_img {
  width: 100px;
  overflow: hidden;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .round_img img {
    height: 100px; }

.time_cook {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5.625em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .time_cook img {
    position: absolute;
    z-index: 1;
    height: 556px;
    right: 0;
    border: 10px solid #ffffff;
    top: 120px;
    max-width: 100%; }
  .time_cook .min_cook {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .time_cook.cook, .tasty #tasty_ready, .time_cook .cook {
    position: relative;
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    margin-bottom: 3px; }
    .time_cook.cook h4, .tasty #tasty_ready h4, .time_cook .cook h4 {
      font-family: "Alegreya", serif;
      font-size: 1.125em;
      font-weight: 700;
      color: #a47d5e;
      text-transform: uppercase; }
    .time_cook.cook h2, .tasty #tasty_ready h2, .time_cook .cook h2 {
      font-size: 3.75em;
      margin-bottom: 1.5rem;
      margin-bottom: 0.625rem; }
    .time_cook.cook h5, .tasty #tasty_ready h5, .time_cook .cook h5 {
      font-size: 1.125em;
      color: #979285; }
  .time_cook.ready, .tasty #tasty_ready, .time_cook .ready {
    background: url(../img/time_bg.png) top left no-repeat;
    background-color: #ffffff; }
    .time_cook.ready h2, .tasty #tasty_ready h2, .time_cook .ready h2 {
      font-size: 5.75em;
      color: #dfc691; }
  .time_cook a {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    font-family: "Alegreya", serif;
    font-size: 1.125em;
    font-weight: 700;
    color: #dfc691;
    text-transform: uppercase;
    padding: 1em 2em;
    background-color: #ffffff;
    border: 1px dashed #dfc691;
    -webkit-transition: .2ms;
    -o-transition: .2ms;
    transition: .2ms;
    z-index: 100;
    margin-left: -20px;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out; }
    .time_cook a:hover {
      color: #ffffff;
      background-color: #dfc691;
      border-color: #ffffff;
      text-decoration: none; }

/*product*/
/*footer*/
footer {
  position: relative;
  padding: 4.375em 0;
  background-color: #f3f1e9;
  z-index: 200; }

.footer_bottom .logo {
  display: inline-block; }
  .footer_bottom .logo h5 {
    color: #56534c;
    margin: 0 1em; }

.bottom_menu {
  display: inline-block; }
  .bottom_menu li a {
    color: #56534c; }
  .bottom_menu li:after {
    color: #56534c; }
  .bottom_menu li:nth-child(3):after {
    content: ''; }
  .bottom_menu:before {
    content: '';
    position: absolute;
    width: 440px;
    height: 2px;
    background-color: rgba(164, 125, 94, 0.3); }
  .bottom_menu:after {
    content: '';
    display: block;
    position: absolute;
    width: 440px;
    height: 2px;
    background-color: rgba(164, 125, 94, 0.3); }
